* {
    margin: 0px;
}


@font-face {
    font-family: "showcard-gothic";
    src: url(./database/Fonte-showcard-gothic/SHOWG.TTF);
}


.windowMenu {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;

    /*border-radius: 15px;*/
    font-size: 15px;
    /*font-family: 'Noto Sans Ethiopic', sans-serif;*/
    font-family: 'McLaren', cursive;

}

                        .divBeggin {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                        }

                        @media (max-width: 800px) {
                            .divBeggin {
                                font-size: 10px;
                            }
                        }
                        @media (max-width: 600px) {
                            .divBeggin {
                                font-size: 7px;
                            }
}

.divHome {
    display: flex;

    font-family: 'showcard-gothic';
    font-size: 350%;
    border-radius: 0px;
    width: 30%;
}

                                .letterT {
                                    color:#ff370f ;
                                }        
                                .letterR {
                                    color: blue;
                                }
                                .letterE {
                                    color: green;
                                }
                                .letterN {
                                    color: #66ffff;
                                }
                                .letterZ {
                                    color: #f8be00;
                                }
                                .letterI {
                                    color: blue;
                                }
                                .letterN2 {
                                    color:red ;
                                }
                                .letterH {
                                    color: green;
                                }
                                .letterO {
                                    color: yellow;
                                }

.containerLogo {
    display: flex;
    border-style: solid;
    padding-top: 100px;
    width: 100%;
    height: 200px;
    background-image: url(img/trenzinho1.png);

}
.divProduct {
    display: flex;
    height: 50%;
    width: 15%;
}
                                

.divNetworks {
    display: flex;

    height: 50%;
    width: 15%;
}

.divContact {
    display: flex;

    height: 50%;
    width: 15%;
}

.divRegistration {
    display: flex;

    height: 50%;
    width: 15%;
}

                        .divLogo {
                            display: flex;
                            padding-top: 1px;
                            justify-content: center;
                            width: 100%;
                            height: 150px;
                            border-radius: 50px;
                            
                        }

                        @media (max-width: 800px) {
                            .divLogo {
                                height:300px;
                            }
                        }
                        @media (max-width: 600px) {
                            .divLogo {
                                height: 250px;
                            }
                        }
                        


.divProductPage {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 660px;
    width: 100%;
}


@media (max-width:1250px) {
    .divProductPage {
        height: 660px;
        flex-wrap: wrap;
    }
}
@media (max-width:850px) {
    .divProductPage {
        height: 1400px;
        flex-wrap: wrap;
    }
}
@media (max-width:470px) {
    .divProductPage {
        height: 1800px;
        flex-wrap: wrap;
    }
    .product {
        height: 150px;
        width: 300px;
    }
}


                        .product {
                            display: flex;
                            border-style: solid;
                            background-color: aliceblue;
                            border-radius: 15px;
                            border-color: red;
                            margin: 4px;
                            height: 200px;
                            width: 400px;
                        }
                        
                        .productImg {
                            display: flex;
                            height: 100%;
                            width: 50%;
                            
                        }

                        .productDescription {
                            display: flex;
                            height: 100%;
                            width: 50%;
                            
                        }


                        
                                                .productImg {
                                                    display: flex;
                                                    background-size: cover;
                                                    border-radius: 15px;
                                                }
                                                .productDescription {
                                                    display: flex;
                                                    margin-left: 0px;
                                                    font-family: 'McLaren', cursive;
                                                    font-size: 20px;
                                                }
                                                .productImg1 {
                                                    background-image: url(img/products/babador.jpg);
                                                }
                                                .productImg2 {
                                                    background-image: url(img/products/conjunto.jpg);
                                                }
                                                .productImg3 {
                                                    background-image: url(img/products/pantufa.jpg);
                                                }
                                                .productImg4 {
                                                    background-image: url(img/products/rnFeminino.jpg);
                                                }
                                                .productImg5 {
                                                    background-image: url(img/products/rnMasculino.jpg);
                                                }
                                                .productImg6 {
                                                    background-image: url(img/products/saidaMaternidade.jpg);
                                                }


                                                                                .titleProduct {
                                                                                    margin: 0;
                                                                                    list-style-type: none;
                                                                                }
                                                                                .subTitleProduct {
                                                                                    font-size: 15px;
                                                                                    color: rgb(92, 84, 84);
                                                                                    list-style-type: none;
                                                                                }

                                                                                .textProduct {
                                                                                    font-size: 15px;
                                                                                    list-style-type: none;
                                                                                }

.divNetworksPage {
    display: flex;
    border-style: solid;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 100px;
    width: 100%;
}

.divContactPage {
    display: flex;
    border-style: solid;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 100px;
    width: 100%;
}

